* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.step-box:last-child {
  margin-right: 0;
}

.step-img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.step-img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num {
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}

/* header {  
  background-color: #ff9a4b;
  width: 100%;
  height: 50px;
}
main {
  margin: 50px auto;
  width: 960px;
}

.main-content {
  display: flex;
}
.step {
  background-color: #ff9a4b;
}
.photo {
  background-image: url(img/flow01.png);
  background-image: 150px;
}

.box1,
.box2,
.box3 {
  width: 300px;
  background-color: #eeeeee;
}

.box2 {
  margin: 0 30px;
}
.h {
  margin: 15px 0 5px 0;
}

footer {
  background-color: #aaaaaa;
  width: 100%;
  height: 50px;
}*/
