* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 答え */

.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.headline {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

/* marginとpaddingの使い分けが曖昧 */
.service1 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.service2 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.service3 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.service4 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

/* 自分で作成　header {
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
  height: 400px;
  width: 100%;
}

.heading {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.title {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
} */
